body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.greyscale {
  filter: grayscale(100%);
}

.alert .leaflet-popup-content-wrapper {
  background: whitesmoke;
}

.alert > .leaflet-popup-tip-container {
  width: 0;
  height: 0;
}

/* Loading spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid dimgray;
  border-color: dimgray transparent dimgray transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-popup .leaflet-popup-content-wrapper {
  background: none;
  box-shadow: none;
}

.loading-popup > .leaflet-popup-tip-container {
  width: 0;
  height: 0;
}

/* Loading spinner */
